<% @products.each do |product| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href = "/products/<%= product.id%>" >
                <%if product.image.nil? %>
                    <img src="http://placehold.it/320x150" alt="">
                <%else%>
                    <%= image_tag product.image, width: "260", height: "122", alt: product.name %> 
                <%end%>
                <div class="caption">
                    <h4><%= link_to product.name, product_path(:id => product.id), :class => "product_link" %></h4>
                    <p><%= product.description%></p>
                    <h3 class="value pull-right" ><%= product.price %> COP</h3>
                </div>
            </a>
        </div>
    </div>
<% end %>