<div class="panel regpanel">  
  <h2>Registrarse</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages!%>
    <div class="row">
      <div class="col-md-6 col-xs-6 column">
        <div class="field">
          <%= f.label :email, "Correo" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :password, "Contraseña" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres minimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="col-md-6 col-xs-6 column">
        <div class="field">
          <%= f.label :name, "Nombre" %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :secname, "Apellido" %><br />
          <%= f.text_field :secname, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :address, "Direccion" %><br />
          <%= f.text_field :address, autofocus: true %>
        </div>
        
        <div class="field">
          <%= f.label :date_of_birth, "Fecha de Nacimiento" %><br>
          <%= f.date_select :date_of_birth, start_year: Date.today.year-60, end_year: Date.today.year, use_month_names: ["Enero","Febrero","Marzo","Abril","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"] %>
        </div>
      </div>  
    </div>
    <div class="actions">
      <%= f.submit "Registrarse", :class => "btn btn-primary" %>
    </div>
  <% end %>
  
  <%= render "users/shared/links" %>
</div>